.form-container {
    margin-top: 20px;
}

.form-container h3 {
    margin-top: 20px;
}

.form-container form {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container select {
    width: 25%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container button[type="submit"],
.form-container button[type="button"] {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

.form-container button[type="submit"]:hover,
.form-container button[type="button"]:hover {
    background-color: #0056b3;
}

#customer_id {
    margin-bottom: 5px;
}

button[type="button"] {
    margin-top: 10px;
}



